{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<section class="movies container py-2">
    <div class="my-3 d-flex justify-content-between">
        <h4 class="">Liste des films</h4>
        <a class="btn btn-primary px-3 py-1" href="{{path("app_create")}}"> Ajouter</a>
    </div>
    <div class=" movie_list">
        <div class="row">
    {% for movie in movies %}
            <div class="col-md-3 col-lg-3 my-4">
               <div class="card bg-dark border-primary">
               <div class="card-header bg-primary">{{movie.name}}</div>
                    {# <img src="{{movie.image}}" class="card-img-top" alt="..."> #}
                    <div class="card-body">
                        {# <h5 class="card-title">{{movie.name}}</h5> #}
                        {# <p class="card-text">{{movie.description}}</p> #}
                        {# <a href="{{path('app_show',{id:movie.id})}}" class="btn btn-primary">Détails</a> #}
                    </div>
                </div> 
            </div>
    {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
